<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DevStarter - Meus Contatos</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 14px;
            background: #f3f3f3;
        }

        .hero {
            margin-top: 10px;
        }

    </style>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
        <a class="navbar-brand" href="#">Java - DevStarter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
                aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api-docs">API Docs</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <i class="fa fa-users" aria-hidden="true"></i>&nbsp;Meus Contatos
                </h1>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
        <th>#</th>
        <th>Nome</th>
        <th>Cargo</th>
        <th>E-mail</th>
        <th>Telefone</th>
        </thead>
        <tbody>
        <tr data-th-each="contact : ${contacts}">
            <td>[[${contact.id}]]</td>
            <td>[[${contact.name}]]</td>
            <td>[[${contact.job}]]</td>
            <td>[[${contact.email}]]</td>
            <td>[[${contact.phone}]]</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
